div.country{
    padding-top: 5%;
    padding-left: 10%;
    
}  
  
div.map img{
    position: absolute;
    width: 100%;
}

div.gallery img {
    position: relative;
    width: 20%;
    height: auto;
    border-radius: 10px;
}


div.usa_img img{
    position: absolute;
    top: 50%;
    left: 30%;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

div.mexico_img img{
    position: absolute;
    top: 85%;
    left: 20%;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

div.canada_img img{
    position: absolute;
    top: 20%;
    left: 25%;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

div.gallery img:hover  {
    opacity: 0.5;
}

  